* {box-sizing: border-box;}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}
.hidden {
  position: absolute;
  top: -10000px;
  left: -10000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}
a.hidden:focus {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
p {
  font-family: Avenir, sans-serif;
  font-size: 1.5rem;
}
body {
  background-color: hsl(45, 97%, 86%);
}
.name {
  border-color: grey;
  border-width: 4px;
  border-style: outset;
  font-family: monospace;
  text-align: center;
  padding: 2rem;
}
h1 {
  font-size: 6.5rem;
  margin-bottom: 1rem;
  text-shadow: 4px 4px 4px #aaa;
}
h2 {
  font-size: 1.5rem;
  margin-right: .8rem;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cc4400;
  top: 0;
}
.homepage {
  float: left;
  border-right: 1px solid #bbb;
  font-family: monospace;
  font-size: 1.5rem;
}
.homepage a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #6666ff;
}
.editing-quote img {
  margin: 1rem;
  border: 1px solid black;
}
.cartoon img {
  border: 1px solid black;
}
.logo img {
  border: 1px solid black;
}
.logo {
  margin-top: .1rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  float: left;
}
.introduction p {
  font-family: 'Sawarabi Mincho', sans-serif;
  text-align: justify;
  margin-right: 2rem;
  font-size: 1.1rem;
}
.introduction h3 {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5rem;
  margin: 1rem;
}
footer {
  background-color: #cc4400;
  height: 14rem;
  font-family: sans-serif;
  text-align: center;
  padding: 1rem;
  clear: both;
}
footer a:link {
  text-decoration: none;
  color: #0000ff;
}
footer a:visited {
  color: #66ffff;
}
footer a:hover {
  text-decoration: underline;
}
footer a:active {
  color: #cc6699;
}
footer p {
  font-size: 1.2rem;
}
i {
  color: black;
  font-size: 3rem;
  margin: .5rem;
}
.web-project-intro {
  margin: 3rem;
}
.web-project-intro h2 {
  font-size: 2rem;
  font-family: 'Kaushan Script', cursive;
  margin: 1rem;
}
.web-project-intro p {
  text-align: justify;
}
.cartoon {
  float: left;
  margin-right: 1rem;
}
.projects {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.projects img {
  text-decoration: none;
	border: thin solid #6666ff;
	padding: 4px;
  margin: .5rem;
}
.projects img:hover {
  background: #6666ff;
}
.projects p {
  margin: 1px;
}
.projects h4 {
  font-size: 2rem;
  line-height: 1rem;
}
.projects h3 {
  font-size: 2.5rem;
  line-height: .5rem;
}
.about p {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 1.1rem;
  text-align: justify;
  margin: 1rem;
}
.about img {
  float: left;
  margin: 1rem;
  border: 1px solid black;
}
.about h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  text-align: center;
}
.teaching-pic {
  padding: 3rem;
  margin-left: 5rem;
}
.teaching-pic img {
  margin: .5rem;
  display: inline-flex;
  border-radius: 15px;
  border: thin solid black;
	padding: 2px;
  position: relative;
  box-shadow: 3px 3px 3px;
}
[title~="elementary"]:hover {
  height: 350px;
  background-color: green;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 50ms;
}
[title~="middle"]:hover {
  animation: rotation infinite 3s linear;
}
[title~="high"]:hover {
  transform: rotateY(180deg);
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 50ms;
}
[title~="university"]:hover {
  height: 300px;
  transition: width 2s, height 2s, transform 2s;
  transform: rotate(180deg);
}
.teaching-summary p {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 1.3rem;
  text-align: justify;
  margin: 3rem;
}
.teaching-summary p::first-line {
  text-transform: uppercase;
}
label {
  font-family: 'Sawarabi Mincho', sans-serif;
}
.contact-form {
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  text-align: center;
}
input[type=text], select, textarea {
  display: block;
  width: 60%;
  padding: .7rem;
  border: .3rem solid #ccc;
  border-radius: .5rem;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  resize: vertical;
  font-family: 'Sawarabi Mincho', sans-serif;
}
input[type=email] {
  display: block;
  width: 60%;
  padding: .7rem;
  border: .3rem solid #ccc;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
input[type=date] {
  display: block;
  width: 60%;
  padding: .7rem;
  border: .3rem solid #ccc;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Sawarabi Mincho', sans-serif;
}
input[type=radio] {
  padding: 3rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
input[type=submit] {
  background-color: #6666ff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Sawarabi Mincho', sans-serif;
}
input[type=submit]:hover {
  background-color: #cc4400;
}
label {
  display: block;
  margin-top: 1rem;
}
fieldset {
  margin-bottom: 1rem;
  width: 60%;
}
.container {
  border-radius: 5px;
  background-color: #ff9966;
  padding: 20px;
}
.contact {
  margin-top: 1rem;
}
.smartphone-girl {
  border-style: none;
  float: right;
  margin: 1rem;
}
.resume h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  text-align: center;
}
.resume a {
  font-family: Helvetica, sans-serif;
}
.resume-jump {
  text-align: center;
  font-size: 1.5rem;
}
.resume-jump a {
  text-decoration: none;
}
.resume-jump a:hover {
  text-decoration: underline;
}
.resume h3 {
  font-size: 1.5rem;
}
.work-history {
  margin-left: 2rem;
  margin-right: 10rem;
  width: 47rem;
}
.work-history p {
  font-family: Helvetica, sans-serif;
  font-size: 1.3rem;
}
.image-typing {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  width: 43%;
  height: 43%
}
.publication {
  display: flex;
  flex-direction: row;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
